.main {
  height: 100%;
  width: 100%;
}
.map {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.App {
  height: 100%;
}

.floating-card {
  border-radius: 100;
  margin: 5px;
  z-index: 998;
  width: 30%;
  position: absolute !important;
  top: 5;
  right: 0;
}

.loading-indicator {
  z-index: 999;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}
