.main {
  height: 100%;
}
.Map {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.App {
  height: 100%;
}

.message-form {
  border-radius: 100;
  margin: 5px;
  z-index: 999;
  width: 30%;
  position: absolute !important;
  top: 5;
  right: 0;
}
